{% extends "base.html" %}

{% block title %}Verb Trainer{% endblock %}
{% block content %}

<div class="dashboard-container">
	<div class="stat-card">
                <div class="label">Verbs for Today</div>
		<span class="number">{{ verb_count }}</span>
	</div>
	
	<div class="stat-card">
		<div class="label">Streak</div>
		<span class="number">{{ streak }}<span class="unit">days</span>
	</div>
	
	<div class="stat-card">
		<div class="label">Learned Today</div>
		<span class="number">{{ learned_count }}</span>
	</div>
</div>

{% endblock %}

